model_version: 2.0
product_va_config:
    name: App Onboarding
    product_name: eric-oss-app-onboarding
    version: {version}
    va_template_version: 2.0.0
    description: EIAP App Onboarding service with Bob based CI and release automation pipelines
    images:
        - /eric-oss-app-onboarding:{version}

    mitigations:
        CVE-2015-8855:
            mitigation: This is a placeholder, example mitigation. Add mitigation steps below.
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2022-12-10T00:00:00Z
